{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}

    <div class="container-fluid">
        <header class="shopping-bag-header d-flex flex-column">
            <div class="container">
                <h1 class="shopping-bag-heading">lionize: Shopping Bag</h1>
                <h2 class="shopping-bag-subheading">A digitial agency with <span class="accent-underline">fresh</span> ideas to enhance your online presence & brand identity.</h2>
            </div>
        </header>
        <section>
            <h2>Your Orders</h2>
            <p>Orders listed here</p>

            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">VAT @23%</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Subtotal Incl. VAT</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% if item.product.image %}
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="">
                                {% endif %}
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0 small text-muted">{{ item.product.category }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 small">€{{ item.product.price }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 small">€{{ item.product.price | vat }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 small ">{{ item.quantity }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 small ">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 small ">€{{ item.product.price | subtotalinclvat:item.quantity }} </p>
                            </td>
                                
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6><strong>VAT @23%: €{{ vat_total|floatformat:2 }}</strong></h6>
                            <h6><strong>Grand Total: €{{ grand_total }}</strong></h6>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="button button-accent">
                                <span>Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="button button-accent">
                                <span>Secure Checkout</span>
                            </a>
                        </td>
                    </tr>
                </table>
                {{ bag_items }}
                {{ total }}
            </div>
            {% else %}
            <p>Your shopping bag is empty.</p>
            {% endif %}
        </section>
    </div>
    
{% endblock %}