{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}

<div class="flex-container product-details-flex-container hello">

    {% include 'includes/side-nav.html' %}

    <div class="container-fluid">
        <header class="shopping-bag-header d-flex flex-column">
            <div class="container">
                <h1 class="profile-page-heading">{{request.user.first_name}}'s Shopping Bag</h1>
            </div>
        </header>
        <section>
            {% if bag_items %}
            <div class="row">
            <div class="table-responsive rounded col col-10 offset-1">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th class="text-align-right" scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">VAT @23%</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Subtotal Incl. VAT</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% if item.product.image %}
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="">
                                {% else %}
                                    <img class="img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ item.product.friendly_name }}">
                                {% endif %}
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.product.friendly_name }}</strong></p>
                                <p class="my-0 small text-muted">{{ item.product.category.friendly_name }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 small">€{{ item.product.price|floatformat:2 }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 small">€{{ item.product.price | vat|floatformat:2 }}</p>
                            </td>
                            <td class="py-3">
                                <form class="update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <button class="decrement-qty button button-accent rounded-0"
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span class=""><i class="fas fa-minus fa-sm"></i></span>
                                            </button>
            
                                            <input class="qty_input form-control form-control-sm" type="number" name="quantity" 
                                            value="{{ item.quantity }}" min="1" max="20" data-item_id="{{ item.item_id }}" 
                                            id="id_qty_{{ item.item_id }}">
            
                                            <button class="increment-qty button button-accent rounded-0"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <span class=""><i class="fas fa-plus fa-sm"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <a class="update-link text-info"><small>Update</small></a>
                                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
                                                    data-size="{{ item.size }}"><small>Remove</small></a>
                            </td>
                            <td class="py-3">
                                <p class="my-0 small ">€{{item.product.price | calc_subtotal:item.quantity}}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 small ">€{{item.product.price | subtotalinclvat:item.quantity|floatformat:2}} </p>
                            </td>
                                
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="6" class="pt-5 text-align-right">
                            <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6><strong>VAT @23%: €{{ vat_total|floatformat:2 }}</strong></h6>
                            <h6><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h6>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-align-right">
                            <a href="{% url 'products' %}" class="button button-main me-2">
                                <span>Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="button button-accent">
                                <span>Secure Checkout</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p>Your shopping bag is empty.</p>
            {% endif %}
        </div>
        </section>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        console.log("Remove item clicked")
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function() {
                location.reload();
            });
    })
</script>

{% endblock %}