{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex-container product-details-flex-container">
    {% include 'includes/side-nav.html' %}
    <div class="container-fluid col-12 col-md-8">
<!-- Admin User Dashboard Header -->
        <header class="details-page-header d-flex flex-column">
            <div class="container">
                {% include 'includes/skip-to-main.html' %}
                <h1 id="main" class="details-page-heading">All Users</h1>
                <h2 class="details-page-subheading mb-4">Here are all of Lionize's Users. Any messages sent by the user to Lionize are also listed below.
                    You can also use the search bar below to filter by name or username.
                </h2>
            </div>
        </header>
<!-- Admin User Search Bar -->
        <section class="container-fluid col-12 col-md-8">
            <div class="details-page-header d-flex flex-column">
                <div class="container">
                    <form method="GET" action="{% url 'admin-dash-users' %}">
                        <div class="input-group 1-100">
                            <input class="form-control" type="text" name="q" placeholder="Search for User" value="{% if search_term %}{{search_term}}{% else %}{% endif %}">
                            <div class="input-group-append">
                                <button aria-label="search button" class="button button-accent" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                                <a aria-label="reset button" class="button button-accent xtra-pad" href="{% url 'admin-dash-users'%}">
                                    <span class="icon">
                                        <i class="fas fa-undo-alt"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
<!-- User Listings -->
        <section class="user-listing">
            <div class="row">
                {% for user in user_profiles %}
                    <div class="col-12 col-lg-6">
                        <div class="card m-4">
                            <div class="card-body d-flex flex-column flex-lg-row m-2">
                                <div class="user-details card-details m-2 p-3">
                                    <h5 class="divider">User Details: {{ user.user.username }}</h5>
                                    <p class="card-title"><strong>Username: </strong>{{user.user.username}}</p>
                                    {% if user.user.first_name %}
                                        <p><strong>Name: </strong>{{user.user.first_name}} {{user.user.last_name}}</p>
                                    {% endif %}
                                    {% if user.default_phone_number %}
                                        <p class=""><strong>Phone:</strong>  {{user.default_phone_number}}</p>
                                    {% endif %}
                                    <p class=""><strong>Email:</strong>  {{user.user.email}}</p>
                                    {% if user.consultation %}
                                        <p class="text-muted"><strong>Free Consultation Done?</strong>  Yes</p>
                                    {% else %}
                                        <p class="text-muted"><strong>Free Consultation Done?</strong>  No</p>
                                    {% endif %}
                                    {% if user.instagram_handle or user.twitter_handle or user.facebook_handle or user.linkedin_handle %}
                                        <h5 class="divider">Social Media:</h5>
                                    {% endif %}
                                    {% if user.instagram_handle %}
                                        <p class=""><strong>Instagram:</strong>  {{user.instagram_handle}}</p>
                                    {% endif %}
                                    {% if user.twitter_handle %}
                                        <p class=""><strong>Twitter:</strong>  {{user.twitter_handle}}</p>
                                    {% endif %}
                                    {% if user.facebook_handle %}
                                        <p class=""><strong>Facebook:</strong>  {{user.facebook_handle}}</p>
                                    {% endif %}
                                    {% if user.linkedin_handle %}
                                        <p class=""><strong>LinkedIn:</strong>  {{user.linkedin_handle}}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </section>
    </div>
</div>
{% endblock %}