{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container product-details-flex-container">

    {% include 'includes/side-nav.html' %}

    <div class="container-fluid col-12 col-md-8">
        <header class="details-page-header d-flex flex-column">
            <div class="container">
                {% include 'includes/skip-to-main.html' %}
                <h1 id="main" class="details-page-heading">All Messages</h1>
                <h2 class="details-page-subheading mb-4">Here are all of the messages sent to Lionize ordered by date. If you need to 
                    adjust the "Resolved" status on any of these messages, please do so via the Django backend by clicking on the edit icon.
                </h2>
            </div>
        </header>
    <section class="user-listing">
            <div class="row justify-content-center">
                    <div class="table-responsive rounded col col-10 offset-sm-1 offset-0 col-md-10 col-xl-12 my-2 bag-table">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th class="msg-th" scope="col">User</th>
                                    <th class="msg-th" scope="col">Date</th>
                                    <th class="msg-th" scope="col">Subject</th>
                                    <th class="msg-th" scope="col">Message</th>
                                    <th class="msg-th" scope="col">Resolved</th>
                                    <th class="msg-th ps-3" scope="col">Edit</th>
                                </tr>
                            </thead>
                            {% for message in user_messages %}
                                <tr class="message-row p-4">
                                    <td class="p-3 bag-td">
                                        <strong><small>{{message.user}}</small></strong>
                                    </td>
                                    <td class="p-2 bag-td">
                                        <small>{{message.date}}</small>
                                    </td>
                                    <td class="p-3 bag-td">
                                        {{message.subject}}
                                    </td>
                                    <td class="p-3 bag-td">
                                        {{message.message}}
                                    </td>
                                    <td class="p-3 bag-td">
                                        {% if message.resolved %}
                                            <i class="fas fa-check"></i>
                                        {% else %}
                                            <i class="fas fa-times"></i>
                                        {% endif %}
                                    </td>
                                    <td class="p-3 bag-td ps-3">
                                        <a class="hvr-icon-bob" href='admin/profiles/message/{{message.id}}/change/'><i class="fas fa-edit hvr-icon"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                        </div>
    </section>  
    </div>
</div>
{% endblock %}