{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <header class="homepage-header">
            <h1 class="homepage-heading">Lionize</h1>
            <h2>A digitial agency with fresh ideas to enhance your online presence & brand identity.</h2>
        </header>
        <section>
            <h3>Our Services</h3>
            4 cards with links to each service's details page.
        </section>
        <section>
            <h3>Web Design & Development</h3>
        </section>
        <section>
            <h3>Search Engine Optimization</h3>
        </section>
        <section>
            <h3>Social Media Management</h3>
        </section>
        <section>
            <h3>Strategic Content Creation</h3>
        </section>
        <section>
            <h4>
                Register with us, provide some basic details and we will arrange a free consulation to 
                discuss what we can do to supercharge your business's digital presence.
            </h4>
        </section>
        <section>
            <h3>Testimonials carousel</h3>
        </section>
        <section>
            <h3>Contact Us</h3>
            Contact form & paragraph 
        </section>
    </div>
    
{% endblock %}