{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <header class="homepage-header d-flex flex-column">
            <div class="container">
                <h1 class="homepage-heading">lionize</h1>
                <h2 class="homepage-subheading">A digitial agency with <span class="accent-underline">fresh</span> ideas to enhance your online presence & brand identity.</h2>
            </div>
        </header>
        <section class="services-section row">
            {% include 'includes/skip-to-main.html' %}
            <h3 id="main" class="homepage-body-heading">Our Services</h3>
            <div class="homepage-cards-container row">
                <div class="card homepage-card" style="width: 18rem;">
                    <img src="{{ MEDIA_URL }}wd6.png" class="card-img-top homepage-card-image" alt="illustration of an apple computer with web design on monitor">
                    <div class="card-body">
                        <h4 class="card-title">Web Design</h4>
                        <p class="card-text">We offer a variety of web design services from basic static sites to e-commerce solutions.</p>
                        <a href="{% url 'webdesign' %}" class="button button-main">Learn More</a>
                    </div>
                </div>
                <div class="card homepage-card" style="width: 18rem;">
                    <img src="{{ MEDIA_URL }}seo1.png" class="card-img-top homepage-card-image" alt="illustration of search engines for seo">
                    <div class="card-body">
                        <h4 class="card-title">Search Engine Optimization</h4>
                        <p class="card-text">We offer SEO audits as well as basic and more comprehensive SEO strategies for business.</p>
                        <a href="{% url 'seo' %}" class="button button-main">Learn More</a>
                    </div>
                </div>
                <div class="card homepage-card" style="width: 18rem;">
                    <img src="{{ MEDIA_URL }}cc2.png" class="card-img-top homepage-card-image" alt="illustration of content creation">
                    <div class="card-body">
                        <h4 class="card-title">Content Creation</h4>
                        <p class="card-text">Social media content, blog content, expertise articles for LinkedIn, e-books, infographics and video content as well.</p>
                        <a href="{% url 'content-creation' %}" class="button button-main">Learn More</a>
                    </div>
                </div>
                <div class="card homepage-card" style="width: 18rem;">
                    <img src="{{ MEDIA_URL }}sm3.png" class="card-img-top homepage-card-image" alt="illustration of social media management">
                    <div class="card-body">
                        <h4 class="card-title">Social Media Management</h4>
                        <p class="card-text">Outsource your social media content, strategy and posting and save countless hours of valuable time.</p>
                        <a href="{% url 'social-media-management' %}" class="button button-main">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
        {% if request.user.is_authenticated %}
            <section class="row blue-bg-section justify-content-center">
                <div class="registration-benefits-container col-10 col-lg-6">
                    <h3 class="homepage-body-heading">Welcome {{ request.user.first_name }}!</h3>
                    {% if request.user.userprofile.consultation %}
                        <p class="homepage-body-text">
                            You have already availed of your free consultation, but please do <a class="yellow-link" href="{% url 'home' %}#contact-us">contact us</a> below if you would like to arrange another consultation at the reduced
                            price of €120.
                        </p>
                    {% else %}
                        <p class="homepage-body-text">
                            Why not take the opportunity to schedule your free business consultation with us? 
                        </p>
                        <input id="user-email" type="hidden" data-user-email="{{ request.user.email }}">
                        <input id="user-first-name" type="hidden" data-user-first-name="{{ request.user.first_name }}">
                        <input id="user-last-name" type="hidden" data-user-last-name="{{ request.user.last_name }}">
                        <input id="user-phone" type="hidden" data-user-phone="{{ request.user.userprofile.default_phone_number }}">
                        <input id="user-instagram" type="hidden" data-user-instagram="{{ request.user.userprofile.instagram_handle }}">
                        <input id="user-twitter" type="hidden" data-user-twitter="{{ request.user.userprofile.twitter_handle }}">
                        <input id="user-facebook" type="hidden" data-user-facebook="{{ request.user.userprofile.facebook_handle }}">
                        <input id="user-linkedin" type="hidden" data-user-linkedin="{{ request.user.userprofile.linkedin_handle }}">

                        <p class="homepage-body-text">We will discuss your business needs in more depth and see how we can work together for your benefit.
                            Clicking the link below will pre-fill an email to us, but please feel free to edit it however you see fit. Thank You.
                        </p>
                        <!-- Clicking here should prefill the contact form with consultation related info -->
                        <div class="button-wrapper">
                            <a id="schedule-consultation" href="{% url 'home' %}#contact-us" class="button button-accent register-benefits-button">Schedule Consulation</a>
                        </div>
                    {% endif %}
                    
                </div>  
            </section>
        {% else %}
            <section class="row blue-bg-section justify-content-center">
                <div class="registration-benefits-container col-10 col-lg-6">
                    <h3 class="homepage-body-heading">Benefits of Registration</h3>
                    <p class="homepage-body-text">
                        Register with us, provide some basic details and we will arrange a free consulation to 
                        discuss what we can do to supercharge your business's digital presence.
                    </p>
                    <ol class="homepage-body-list">
                        <li class="homepage-body-list-item">Access to all our services and products pricing information.</li>
                        <li class="homepage-body-list-item">Access to your personal user portal.</li>
                        <li class="homepage-body-list-item">All registered users can avail of a free services consultation to chat through your business needs.</li>
                        <li class="homepage-body-list-item">All your orders are saved in one place for easy reference.</li>
                        <li class="homepage-body-list-item">Shop & pay securely for products and services directly from your user portal.</li>
                    </ol>
                    <div class="button-wrapper">
                        <a href="{% url 'account_signup' %}" class="button button-accent register-benefits-button">Register</a>
                    </div>
                </div>  
            </section>
        {% endif %}
        <section class="row">
            <h3 class="homepage-body-heading">Who Are We?</h3>
            <p class="homepage-body-text whoarewe-text">Founded in 2018 by Janet Le Grand, Lionize is at the forefront of cutting edge digital branding. 
                Re-imagining corporate branding strategies for post-modern technically astute target audiences. We enable our clients to reach 
                enormous target markets using cost-effective and measurable strategies. 
            </p>
            <div class="homepage-cards-container row">
            <div class="card homepage-card bio-card" style="width: 18rem;">
                <img src="{{ MEDIA_URL }}bio1.jpg" class="card-img-top homepage-card-image bio-image" alt="">
                <div class="card-body bio-card-body">
                    <h4 class="card-title">Janet Le Grand</h4>
                    <p class="card-text">CEO & Founder</p>
                    <p>Janet founded Lionize in 2018 after completing her PhD in Cybernetics. </p>
                </div>
            </div>
            <div class="card homepage-card bio-card" style="width: 18rem;">
                <img src="{{ MEDIA_URL }}bio2.jpg" class="card-img-top homepage-card-image bio-image" alt="">
                <div class="card-body bio-card-body">
                    <h4 class="card-title">Sophia Truglio</h4>
                    <p class="card-text">CFO</p>
                    <p>Sophia joined Lionize in 2019 and has been an amazing addition since.</p>
                    
                </div>
            </div>
            <div class="card homepage-card bio-card" style="width: 18rem;">
                <img src="{{ MEDIA_URL }}bio3.jpg" class="card-img-top homepage-card-image bio-image" alt="">
                <div class="card-body bio-card-body">
                    <h4 class="card-title">Athena Murphy</h4>
                    <p class="card-text">CTO</p>
                    <p>Athena is the force behind all of our technical output and she leads up our four tech teams.</p>
                </div>
            </div>
        </div>
        </section>
        <section>
            
        </section>
        <section id="contact-us" class="row blue-bg-section">
            <h3 class="homepage-body-heading contact-us-heading">Contact Us</h3>
            <form class="contact-form col-10 offset-1 col-md-6 offset-md-3" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="contact-send-button button button-accent" type="submit" value="Submit">SEND <i class="fas fa-paper-plane"></i></button>
            </form>
        </section>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}