{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <header class="details-page-header d-flex flex-column">
        <div class="container web-design-container">
            <h1 class="details-page-heading">Search Engine Optimization</h1>
            <img class="details-page-intro-image img-fluid" src="{{ MEDIA_URL }}seo1.png" alt="">
            <div class="all-industries">
                <h2 class="details-page-subheading">We provide professional SEO solutions for <span class="accent-underline">all</span> industries.</h2>
                <div class="row industry-images-container">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry1.jpg" alt="">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry2.jpg" alt="">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry3.jpg" alt="">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry4.jpg" alt="">
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container web-design-container">
            <h3 class="details-page-text text-align-left">The first step is to <a href="{% url 'account_signup' %}">register with us</a> and then we will schedule in a free consultation to talk to you about your specific SEO requirements.</h3>
            <br>
            <h4 class="col col-12 details-page-text ">Whatever your needs, we offer a comprehensive range of SEO services that we can custom design to your exact requirements. Here are 
                just some of the services available for you.
            </h4>
            <div class="web-design-categories-container row">
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">SEO Audit</h4>
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">Keyword Research</h4>
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">Technical SEO</h4>
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">Link-Building</h4>
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">Tracking & Reporting</h4>
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">Analytics</h4>
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">Conversion Optimization</h4>
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">Full SEO Strategy</h4>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <hr>
            <h2 class="details-page-subheading featured-subheading seo-heading">SEO Expertise</h2>
            <h3 class="details-page-text text-align-left seo-text">We are SEO experts. We are always 
                up-to-date with the latest technology, so you can rest assured that your SEO strategy will be too. Register for your free account today to
                view our full range of SEO services and prices.
            </h3>
        </div>
    </section>
</div>


{% endblock %}