{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <header class="details-page-header d-flex flex-column">
        <div class="container web-design-container">
            {% include 'includes/skip-to-main.html' %}
            <h1 id="main" class="details-page-heading">Social Media Management</h1>
            <img class="details-page-intro-image img-fluid" src="{{ MEDIA_URL }}sm3.png" alt="">
            <div class="all-industries">
                <h2 class="details-page-subheading">We provide professional social media management for <span class="accent-underline">all</span> industries.</h2>
                <div class="row industry-images-container">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry1.jpg" alt="">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry2.jpg" alt="">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry3.jpg" alt="">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry4.jpg" alt="">
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container web-design-container">
            <h3 class="details-page-text text-align-left">The first step is to <a href="{% url 'account_signup' %}">register with us</a> and then we will schedule in a free consultation to talk to you about your social media requirements.</h3>
            <br>
            <p class="col col-12 details-page-text ">Whatever your needs, we offer a comprehensive range of social media management solutions. 
            </p>
            <div class="web-design-categories-container row">
                <h4 class="web-des-category col col-12 col-md-4">Posts</h4>
                <h4 class="web-des-category col col-12 col-md-4">Engagement</h4>
                <h4 class="web-des-category col col-12 col-md-4">Followers</h4>
            </div>
            <p class="col col-12 details-page-text">The details of these packages and their prices can be viewed once you register your free account with us!</p>
        </div>
    </section>
    <section>
        <div class="tech-container">
            <h2 class="details-page-subheading featured-subheading">Social Media Expertise</h2>
            <h3 class="details-page-text text-align-left">We are social media experts, we specialise in Twitter, Instagram, Facebook & LinkedIn,
                We are always up-to-date with the latest social media trends, so you can rest assured that your social media presence will be current.
            </h3>
        </div>
    </section>
    <section>
        <div class="container social-media-process-container">
            <h2 class="details-page-subheading examples-subheading">What is the process?</h2>
            <ul class="social-media-process-list">
                <li class="details-page-text">1. You register a free account with us.</li>
                <li class="details-page-text">2. We have a chat about your requirements, your specific business tone and how you'd like your online presence shaped.</li>
                <li class="details-page-text">3. You decide on which social media product you would like to proceed with and you purchase it via our secure web portal.</li>
                <li class="details-page-text">4. We deliver the product, be it posts, comments, engagement or increasing your following.</li>
                <li class="details-page-text">5. We communicate with you to fine tune the tone & content of any posts created.</li>
                <li class="details-page-text">6. You sit back and watch your social media presence grow beautifully.</li>
            </ul>
        </div>
    </section>
    
</div>


{% endblock %}