{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
<!-- Web-Design Header -->
    <header class="details-page-header d-flex flex-column">
        <div class="container web-design-container">
            {% include 'includes/skip-to-main.html' %}
            <h1 id="main" class="details-page-heading">Web Design & Development</h1>
            <img class="details-page-intro-image img-fluid" src="{{ MEDIA_URL }}wd3.png" alt="">
            <div class="all-industries">
                <h2 class="details-page-subheading">We provide professional website solutions for <span class="accent-underline">all</span> industries.</h2>
                <div class="row industry-images-container">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry1.jpg" alt="">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry2.jpg" alt="">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry3.jpg" alt="">
                    <img class="industry-image" src="{{ MEDIA_URL }}industry4.jpg" alt="">
                </div>
            </div>
        </div>
    </header>
<!-- Register CTA -->
    <section>
        <div class="container web-design-container">
            <h3 class="details-page-text text-align-left">The first step is to <a href="{% url 'account_signup' %}">register with us</a> and then we will schedule in a free consultation to talk to you about your business and web-design requirements.</h3>
            <br>
            <h4 class="col col-12 details-page-text ">Whatever your needs, we offer a comprehensive range of web solutions that we can custom design to your exact requirements. Here are 
                just some of the website types that we can design for you.
            </h4>
            <div class="web-design-categories-container row">
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">Static</h4>
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">Ecommerce</h4>
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">Parallax</h4>
                <h4 class="web-des-category col col-12 col-md-6 col-lg-3">Web Portal</h4> 
            </div>
        </div>
    </section>
<!-- Tech Expertise Section -->
    <section>
        <div class="tech-container">
            <h2 class="details-page-subheading featured-subheading">Technology Expertise</h2>
            <h3 class="details-page-text text-align-left">We are web-design experts, we specialise in web-design, content management, SEO and social media management. We are always 
                up-to-date with the latest technology, and so you can rest assured that your website will be too.
            </h3>
        </div>
    </section>
<!-- Examples of Work -->
    <section>
        <div class="container">
            <h2 class="details-page-subheading examples-subheading">Examples of our work</h2>
            <h3 class="details-page-text text-align-center">Below are just some of the sites we have designed for our clients.</h3>
            <div class="row web-design-examples-container">
                <img class="web-design-example col col-12 col-md-6 col-lg-4" src="{{ MEDIA_URL }}wd-eg-2.png" alt="snapathon website">
                <img class="web-design-example col col-12 col-md-6 col-lg-4" src="{{ MEDIA_URL }}wd-eg-3.png" alt="weddings by kara website">
                <img class="web-design-example col col-12 col-md-6 col-lg-4" src="{{ MEDIA_URL }}wd-eg-4.png" alt="lionize web application">
                <img class="web-design-example col col-12 col-md-6 col-lg-4" src="{{ MEDIA_URL }}wd-eg-1.png" alt="snapathon application">
                <img class="web-design-example col col-12 col-md-6 col-lg-4" src="{{ MEDIA_URL }}wd-eg-5.png" alt="weddings by kara portfolio site">
            </div>
        </div>
    </section>
</div>
{% endblock %}