{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="flex-container product-details-flex-container hello">

{% include 'includes/side-nav.html' %}

<div class="overlay"></div>

    <div class="container-fluid">
        
        <header class="shopping-bag-header d-flex flex-column">
            <div class="container">
                <h1 class="">{{request.user.first_name}}'s Profile</h1>
                <h2 class="">Here are your profile details, please update anything that needs changing.</h2>
            </div>
        </header>
        <section>
            <div class="row">
                <div class="col-10 offset-1 col-lg-6">
        
                    <form action="{% url 'profile' %}" method="POST" class="mt-3 profile-page-form" id="profile-update-form">
                        {% csrf_token %}
                        <!-- {{ form|crispy }} -->
                        <small>Billing Details</small>
                        <div class="form-row row">
                            <div class="form-row row">
                                <div class="form-group col-12 mb-0">
                                    {{ form.default_phone_number | as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="form-group col-12 mb-0">
                                    {{ form.default_street_address1 | as_crispy_field }}
                                    {{ form.default_street_address2 | as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="form-group col-md-5">
                                    {{ form.default_town_or_city | as_crispy_field }}
                                </div>
                                <div class="form-group col-md-3">
                                    {{ form.default_postcode | as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4">
                                    {{ form.default_county| as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row row">
                                <div class="form-group col-12">
                                    {{ form.default_country| as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <br>
                        <small class="form-heading">Social Media Details</small>
                        <div class="form-row row">
                            <div class="form-group col-6">
                                {{ form.instagram_handle| as_crispy_field }}
                            </div>
                            <div class="form-group col-6">
                                {{ form.twitter_handle| as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="form-group col-6">
                                {{ form.linkedin_handle| as_crispy_field }}
                            </div>
                            <div class="form-group col-6">
                                {{ form.facebook_handle| as_crispy_field }}
                            </div>
                        </div>
                        <button class="button-accent button profile-page-btn">Update Information</button>
                    </form>
                </div>
            </div>
        </section>  
        </div>
</div>  
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script> 
{% endblock %}