<!-- Cycle through each order the user has made and paid for and allow them to leave 1 review per product.

- List the products for review here. 

Divde into Reviewed & Review

-->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="flex-container product-details-flex-container">

{% include 'includes/side-nav.html' %}

<div class="overlay"></div>
    <div class="container-fluid">
        <header class=" d-flex flex-column">
            <div class="container">
                <h1 class="profile-page-heading mt-4 mb-3">Product Reviews</h1>
                <p class="details-page-text mb-5">When you've purchase any of our products, you can review that product. Below are the products you have purchased and can
                    therefore review and once you do so, your reviews will also appear below.
                </p>
            </div>
        </header>
    
                <section class="reviews row">
                    <div class="col-12 col-md-6 review-padding">
                        <h2 class="details-page-subheading">Products To Review</h2>
                        {% for order in orders %}
                            {% for item in order.lineitems.all %}
                                {% if not item.reviewed %}
                                    <div class="review-border container orders-to-review">
                                        <small><strong>Order #:</strong> {{order.order_number|truncatechars:12}}</small>
                                        <small><strong>Order Date:</strong> {{order.date}}</small>
                                        <p></p>
                                        <p><strong>Category:</strong> {{item.product.category.friendly_name}}</p>
                                        <p><strong> Product: </strong> {{item.product.friendly_name}}</p>
                                        <a class="review-product-button button button-accent" href="{% url 'product_detail' item.product.id %}">Review</a>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        {% endfor %}
                    </div>
                    <div class="col-12 col-md-6 review-padding">
                        <h2 class="details-page-subheading">Your Reviews</h2>
                        {% for review in reviews %}
                            <div class=" container review-border">
                                {% if review.review_stars == 'option1' %}
                                    <p><i class="fas fa-star review-star"></i></p>
                                {% elif review.review_stars == 'option2' %}
                                    <p><i class="fas fa-star review-star"></i><i class="fas fa-star"></i></p>
                                {% elif review.review_stars == 'option3' %}
                                    <p><i class="fas fa-star review-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                                {% elif review.review_stars == 'option4' %}
                                    <p><i class="fas fa-star review-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                                {% elif review.review_stars == 'option5' %}
                                    <p><i class="fas fa-star review-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                                {% endif %}
                                <h4><strong>Product:</strong> {{review.product.friendly_name}}</h4>
                                <p><strong>Review Title:</strong> {{review.review_title}}</p>
                                <p><strong>Review:</strong> {{review.review}}</p>
                                <small class="text-muted"><strong>Reviewed:</strong> {{review.date_reviewed}}</small>
                            </div>
                        {% endfor %}
                    </div>
                </section>
        </div>
        </div>
        
{% endblock %}