@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'hover-effects.css';

/*-------------------------- Variables */
:root {
    /* #148EFF #C3FF17 */
    /* Colours */
    --main-colour: #10AAF7;
    --lighter-main: #91E3FD;
    --accent-colour: #F3C311;
    --accent-lighter: #FDE691;
    --cancel-colour: #B33D3D;
    --lighter-cancel: #EE4D4D;
    --white: #FFF;
    --dark-text: #333;
    --muted-text: #736F73;
    --lightest-grey: rgb(243, 243, 243);

    /* Font Styles */ 
    --heading-font: "Quicksand", sans-serif;
    --subheading-font: "Open Sans", sans-serif;
    --main-text-font: "Open Sans", sans-serif;

    /* Breakpoints */
    --breakpoint-large-mobile: 576px;
    --breakpoint-tablet: 768px;
    --breakpoint-small-desktop: 992px;
    --breakpoint-desktop: 1200px;
    --breakpoint-large-desktop: 1400px;
}
/* Universal Styles */
*{
    box-sizing: border-box;
    margin: 0;
}
.justify-content-center{
    justify-content: center;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.text-align-center{
    text-align: center;
}
.accent-underline{
    border-bottom: var(--accent-colour) 5px solid;
}
a{
    color: var(--main-colour);
}
a.yellow-link{
    color: var(--accent-colour);
}
a.yellow-link:hover{
    color: var(--accent-lighter);
}
/* Buttons */
.button {
    padding:7px 14px;
    font-family: var(--main-text-font);
    font-size: 1.1rem;
    border: none;
    transition: all 0.5s ease;
    text-decoration: none;
}
.button-main{
    background-color: var(--main-colour);
    color: var(--white);
    border-radius: 5px;
}
.button-main:hover{
    background-color: var(--lighter-main);
    color: var(--white);
}
.button-accent{
    background-color: var(--accent-colour);
    color: var(--dark-text);
    border-radius: 5px;
}
.button-accent:hover{
    background-color: var(--accent-lighter);
}
.button-form{
    background-color: var(--accent-colour);
    color: var(--dark-text);
    font-size: 0.9rem;
}
.button-cancel{
    background-color: var(--cancel-colour);
    color:var(--white);
    border-radius: 5px;
}
.button-cancel:hover{
    background-color: var(--lighter-cancel);
    color: var(--white);
}
.backlink{
    margin-top: 1.5rem;
    padding-left: 1.2rem;
}
.backlink > a.button-back:hover{
    color: var(--accent-colour);
}
a.button:hover{
    text-decoration: none;
    color: var(--dark-text);
}
button.increment-qty,
button.decrement-qty{
    border-radius: 12px;
}
.input-group input.special-input-group-button{
    border-radius: 6px !important;
}
.button-tiny{
    font-size: 0.8rem;
}
/* Navigation */

.active-page{
    color: var(--accent-colour);
    border-bottom: var(--accent-colour) solid 5px;
}
.active-page-side-nav{
    background-color: var(--accent-colour);
}
a.navbar-brand>i{
    font-size: 1.7rem;
}
/* Messages */
.toast{
    border: var(--accent-colour) solid 4px;
    border-radius: 12px;
}
.toast-container {
    position: fixed;
    top: 72px;
    right: 15px;
    background-color: white;
    border-radius: 12px;
}
.success-msg-heading{
    color: var(--main-colour);
    font-size: 1.2rem;
}
.toast-message{
    color: #333;
    font-size: 1rem;
}
.custom-toast{
    overflow: visible;
}
.toast-capper {
    height: 2px;

}
/* Homepage Nav & Header */
nav {
    font-family: var(--main-text-font);
    background-color: var(--main-colour);
}
nav div.container-fluid{
    padding: 0;
}
a.navbar-brand{
    color: var(--accent-colour);
    margin-left: 1rem;
}
ul.navbar-nav{
    margin-left: 1rem;  
}
nav ul.navbar-nav li>ul.dropdown-menu {
    background-color: var(--main-colour);
}
ul.dropdown-menu li a {
    color: var(--white) !important;
    letter-spacing: 1px;
}
ul.dropdown-menu li a:hover {
    background-color: var(--white);
    color: var(--main-colour) !important;
}
li.side-nav-item{
    width: 100%;
}
li.nav-item>a.nav-link{
    color: var(--white) !important;
    letter-spacing: 1px;
}
/* .nav-link:hover{
    background-color: var(--accent-colour);
    color: var(--accent-colour);
} */
ul.nav-register-login-container{
    margin-left: 1rem;
    margin-right: 0 !important;
}
ul.nav-register-login-container li.button-accent{
    color: var(--main-colour) !important; 
}
div.container-fluid{
    padding: 0;
}
.homepage-header {
    height: 500px;
    background-color: var(--main-colour);
    justify-content: center;
    align-items: center;
}
h1.homepage-heading{
    font-family: var(--heading-font);
    font-size: 5rem;
    font-weight: 300;
    color: white;
    margin: 2rem;
}    
h2.homepage-subheading{
    font-family: var(--main-text-font);
    color: var(--white);
    font-weight: 300;
    margin: 2rem;
}
h2.homepage-subheading span.accent-underline{
    border-bottom: var(--accent-colour) 5px solid;
}
.services-section{
    display: flex;
    justify-content: center;
}
.homepage-body-heading{
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    margin-top: 3rem;
    font-family: var(--heading-font);
}
.homepage-body-text{
    text-align: center;
    padding-top: 1rem;
    font-size: 1.2rem;
}
.homepage-body-list{
    padding: 1.1rem;
}
.homepage-body-list-item{
    padding: 0.4rem;
}
.homepage-cards-container{
    justify-content: center;
    padding-top: 3rem;
}
.homepage-card{
    margin: 1rem;
    border: none;
}
.homepage-card-image{
    height: 250px;
    object-fit: cover;
}
.blue-bg-section{
    background-color: var(--main-colour);
    color: var(--white);
    padding-bottom: 3rem;
}
.button-wrapper{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.register-benefits-button{
    padding: 1rem 3rem;
}
.bio-image{
    height: 350px;
}
.bio-card-body{
    border: 4px solid var(--main-colour);
    margin-bottom: 2rem;
}
.contact-us-heading{
    margin-top: 6rem;
}
.contact-form{
    padding: 0 2rem;
}
.social-media-process-container{
    margin-top: 3rem;
}
ul.social-media-process-list{
    margin-bottom: 3rem;
    margin-top: 2rem;
}
ul.social-media-process-list > li{
    list-style-type: none;
}

/* Registered Users Side Nav */
.side-nav-container{
    background-color: var(--main-colour);
    padding-top: 2rem;
    margin-bottom: -2rem;
    width: 250px;
    min-height: calc(100vh - 200px);
    flex-shrink: inherit;
}
.white-hr{
    background-color: var(--white);
    height: 5px !important;
}
p.side-nav-heading{
    color: white;
    font-weight: 200;
    font-size: 1.2rem;
    margin-left: 1rem;
}

/* Product Categories Pages */
.web-design-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.details-page-heading,
.profile-page-heading{
    font-family: var(--heading-font);
    text-align: center;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    letter-spacing: 1.4px;
    font-weight: 400;
    flex-basis: 100%;
    width: 100%;
}
.details-page-info{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.edit-del-product-details-btns{
    flex-basis: 100%;
    text-align: center;
    /* margin-right: 5rem; */
    padding-bottom: 2rem;
}
.details-page-subheading,
.profile-page-subheading{
    font-family: var(--subheading-font);
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 0 10px;
}
.details-page-intro-image{
    height: auto;
    align-self: center;
}
.all-industries{
    border: var(--main-colour) 3px solid;
    padding: 2rem;
    margin-bottom: 2rem;
}
.industry-images-container{
    display: flex;
    justify-content: center;
}
.examples-subheading{
    margin-bottom: 2rem;
}
img.industry-image{
    width: 300px;
    height: auto;
    padding: 2rem;
}
img.web-design-example{
    max-width: 500px;
    height: auto;
    padding: 2rem;
}
.details-page-text{
    font-family: var(--main-text-font);
    font-size: 1.2rem;
    letter-spacing: 1.1px;
    font-weight: 200;
    overflow-wrap: break-word;
    flex-grow: 2;
    margin: 0 auto;
    width: 90%;
}
.web-des-category{
    background-color: var(--main-colour);
    color: var(--white);
    padding: 2rem;
    border: var(--white) 5px solid;
    text-align: center;
    margin: 1.5rem 0;
    font-size: 1.1rem;
}
.tech-container{
    background-color: var(--accent-colour);
    color: var(--dark-text);
    padding: 3.3rem;
    margin: 1.5rem 0;
    width: 100%;
}
.featured-subheading{
    font-weight: 500;
    margin-bottom: 1.4rem;
}
.examples-subheading{
    font-size: 2rem;
}
.seo-heading{
    margin-top: 2rem;
}
.seo-text{
    margin-bottom: 4rem;
    margin-top: 2rem;
}

/* Login & Register Pages */

.form-container{
    padding: 3rem;
    justify-content: center;
    max-width: 600px;
    margin-top: 3rem;
    background-color: var(--white);
    margin-bottom: 3rem;
}
h1.form-heading{
    font-family: var(--heading-font);
    color: var(--main-colour);
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
p.form-instruction{
    font-family: var(--main-text-font);
}
form.login-register-form p{
    font-family: var(--main-text-font);
}
a.forgot-password-link{
    margin: 0;
}
form.custom-crispy .form-group{
    margin-top: 0.7rem;
}
form button.form-button{
    padding: 1rem;
    color: var(--white);
    margin-top: 1rem;
}

/* Product Category Shop Page */
.product-card-col{
    margin-top: 2rem;
}
/* Product Details Page */
.product-details-flex-container{
    display: flex;
    margin-bottom: 2rem;
    flex-shrink: 0;
}
.product-card-img{
    height: 200px;
    object-fit: cover;
}
.product-card-body{
    text-align: center;
}
.admin-edit-delete-btns{
    margin-top: 1rem;
    align-self: flex-end;
}
.product-details-flexbox{
    display: flex;
}
img.product-details-page-img{
    max-width: 500px;
    min-width: 300px;
}
.form-container-product-details{
    justify-content: center;
}
.details-page-features-heading{
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0.9rem;
}
.product-details-text-container{
    flex-basis: 100%;
}
.card-text{
    min-height: 72px;
}
.product-details-price-subtotal{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1.5rem;
}
.product-details-price{
    font-weight: 500;
    color: var(--main-colour);
    margin-top: 0.3rem;
}
button.accordion-button{
    margin: 0 auto;
    font-size: 0.9rem;
    font-family: var(--subheading-font);
    font-weight: 400;
}
#reviewAccordion{
    margin-top: 2rem;
}
label[for="id_review_title"],
label[for="id_review_stars_0"],
label[for="id_review"]{
    margin-bottom: 0.5rem;    
}
.input-container{
    justify-content: flex-end;
}

.review-block:not(:last-child):after{
    content: "";
    display: block;
    border-bottom: var(--lighter-main) 2px dotted;
    margin-bottom: 0.6rem;
}


/* Profile Page */

.profile-page-btn{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
form.profile-page-form label{
    margin: 0.6rem 0.4rem 0;
    color: var(--muted-text);
    font-size: 0.7rem;
}
small.form-heading{
    margin-top: 4rem;
    padding-top: 2rem;
}
/* Shopping Bag */

.update-link, 
.remove-item {
    cursor: pointer;
    text-decoration: none;
}
.image-container{
    display: flex;
    justify-content: center;
}
img.empty-shopping-bag{
    max-width: 300px;
    object-fit: cover;
    margin-top: 1rem;
}

/* Review Page */

.review-border{
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.review-padding{
    padding: 1rem 5rem;
}
.orders-to-review{
    text-align: center;
}
.review-product-button{
    font-size: 0.9rem;
}

i.fa-star{
    color: var(--accent-colour);
}
/* The Following Code is all from the CI Boutique Ado Tutorial */
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* CI Boutique Ado Tutorial Code Ends Here */


/* Product Form - Code From CI Boutique Ado Tut */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    border-radius: 0 !important;
}

/* CI Boutique Ado Tutorial Code Ends Here */

/* Admin Pages */
/* Admin Dashboard */

.accordion-container{
    margin-top: 2rem;
}
.add-product-section{
    text-align: center;
    margin: 1.2rem 0;
}
.add-product-button{
    padding: 1rem 3rem;
}
.message-list-container:before{
    content: "";
    display: block;
    border-bottom:  var(--accent-colour) dotted 2px;
    margin-bottom: 0.6rem;
}
.divider:after{
    content: "";
    display: block;
    border-bottom:  var(--main-colour) dotted 2px;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
}
.user-details{
    min-width: 250px;
}
.admin-card-body{
    height: 350px;
    justify-content: space-evenly;
}
.deletion-modal-text{
    font-size: 1.1rem;
}

/* Edit Product Form Page */
.admin-page-heading{
    font-family: var(--heading-font);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    letter-spacing: 1.4px;
    font-weight: 400;
    flex-basis: 100%;
    width: 100%;
}
/* Logout */
.more-space{
    margin-top: 7rem;
    margin-bottom: 7rem;
    padding: 5rem;
}
/* Order Success Page */
.order-listing-title{
    color: var(--main-colour);
    font-weight: 500;
    margin-bottom: 0;
}
.order-reference{
    font-size: 0.7rem;
}
.order-grand-total-title{
    font-weight: 600;
    text-transform: uppercase;
}
.grand-total{
    font-weight: 600;
    text-decoration: underline;
}
.order-success-border{
    border: var(--main-colour) 2px solid;
    border-radius: 5px;
}

/* Other account Incidental Pages */
/* Verify Email Address Page */
h1.small-heading{
    font-family: var(--heading-font);
    color: var(--main-colour);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
p.small-instruction{
    font-family: var(--main-text-font);
}
p.password-reset-instruction{
    margin-top: 1rem;
}
/* Footer */
footer.footer{
    background-color: var(--main-colour);
    background-position: center center;
    background-size: cover;
}
.footer .links-row{
    padding-top: 4rem;
    width: 55%;
    justify-content: center;
}
.text-links-container .center-me{
    padding: 1.2rem;
}
.center-me .footer-heading{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--white); 
}
footer a.nav-link{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    color: var(--white);
}
footer a.nav-link:hover{
    color: var(--accent-colour);
}
.footer-social-media ul.footbar .nav-item .nav-link{
    font-size: 1.1rem;
    
    padding: 1.2rem;
}
.footer-social-media ul.footbar .nav-item .nav-link i{
    color: var(--accent-colour);
}
.footer-social-media ul.footbar .nav-item .nav-link i:hover{
    color: var(--white);
}
.copyright-notice{
    color: var(--white);
    font-size: 0.9rem;
}
/* footer styles end */

/* Media Queries - Bootstrap sm */
@media (min-width: 576px ) {
    .details-page-heading,
    .profile-page-heading{
        font-size: 3rem;
    }
    .footer .links-row{
        width: 90%;
    }
    .bag-table{
        margin-right: 2rem;
    }
}

/* Media Queries - Bootstrap md */
@media (min-width: 768px ) {
    .details-page-intro-image{
        max-width: 600px;
    }
    .bag-table{
        margin-right: 4rem;
    }
    .form-container{
        border-radius: 12px;
        border: var(--main-colour) 3px solid;
    }
    /* Other account Incidental Pages */
    /* Verify Email Address Page */
    h1.small-heading{
        font-size: 3rem;
    }
    .footer .links-row{
        width: 80%;
    }
}

/* Media Queries - Bootstrap lg */
@media (min-width: 992px ) {
    nav{
        font-family: var(--main-text-font);
    }
    nav div.container-fluid{
        margin-left: 2rem;
    }
    nav ul.navbar-nav{
        margin-left: 2rem;
    }
    nav ul.nav-register-login-container{
        margin-left: auto !important;
    }
    .homepage-header {
        height: 500px;
    }
    h1.homepage-heading{
        font-size: 11rem;
    }
    .details-page-text{
        width: 70%;
    }
    .footer .links-row{
        width: 70%;
    }
}
/* Media Queries - Bootstrap xl */
@media (min-width: 1200px) {
    body {
        margin: 0;
    }
    .footer .links-row{
        width: 50%;
    }
}
/* Media Queries - Bootstrap xxl */
@media (min-width: 1400px) {
    .footer .links-row{
        width: 40%;
    }
    
}

/* Transforming the Shopping Bag Table To be responsive on mobile.
Initial boilerplate code for this taken from:  https://css-tricks.com/responsive-data-tables/ */
@media 
only screen and (max-width: 1200px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: var(--lightest-grey) 1px solid; 
    }
    tr.bag-product-row:after{
        display: inline-block;
        border-bottom: var(--main-colour) 2px solid;
        content: "";
        width: 100%;
    }
	td { 
		border: none;
		position: relative;
		padding: 0.6rem;
        margin-bottom: 0.7rem;
	}
	td:before { 
		position: absolute;
		top: -9px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        font-size: 1.1rem;
        font-weight: 300;
	}

    .update-form{
        width: 55%;
    }
    img.bag-img{
        min-width: 200px;
    }
	.bag-product-row{
        padding-top: 1rem;
    }
    /* Labels */
	.bag-product-row > td:nth-of-type(1):before { 
        content: "Product Info";
        color: var(--main-colour);
    }
	.bag-product-row > td:nth-of-type(2):before { 
        content: "";
    }
	.bag-product-row > td:nth-of-type(3):before { 
        content: "Price";
        color: var(--main-colour); 
    }
	.bag-product-row > td:nth-of-type(4):before { 
        content: "VAT @23%";
        color: var(--main-colour);
    }
	.bag-product-row > td:nth-of-type(5):before { 
        content: "Quantity";
        color: var(--main-colour); 
    }
	.bag-product-row > td:nth-of-type(6):before { 
        content: "Subtotal Incl. VAT";
        color: var(--main-colour);
        font-weight: 500;
    }
    .final-totals-row,
    .bag-buttons-row{
        border: none;
    }
    .bag-button{
        font-size: 0.9rem;
        margin-top: 0.6rem;
        width: 200px;
    }

    /* Orders Page */
    .order-table-row{
        text-align: right;
    }
    /* Labels */
	.order-table-row > td:nth-of-type(1):before { 
        content: "Order Reference:";
        text-align: left;
        margin-top: 10px;
        font-weight: 500;
    }
	.order-table-row > td:nth-of-type(2):before { 
        content: "Date:";
        text-align: left;
        margin-top: 10px;
        font-weight: 500;
    }
	.order-table-row > td:nth-of-type(3):before { 
        content: "Product:";
        text-align: left;
        margin-top: 10px;
        font-weight: 500;
    }
	.order-table-row > td:nth-of-type(4):before { 
        content: "Order Total:";
        text-align: left;
        color: var(--main-colour);
        margin-top: 10px;
        font-weight: 500;
    }
}