{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">

    {% include 'products/side-nav.html' %}
    

<div class="container-fluid col-8">
    <header class="details-page-header d-flex flex-column">
        <div class="container">
            <h1 class="details-page-heading">Social Media Management Services</h1>
            <h2 class="details-page-subheading"> <span class="accent-underline">Here are all our Social Media Management Services.</span> </h2>

                <div class="card-group">
                    <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                    <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                    <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                    </div>
                </div>
        </div>
    </header>
    
        
</div>

</div>



{% endblock %}