{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}
  <div class="container form-container">
    <h1 class="form-heading">{% trans "Register" %}</h1>
    <p class="form-instruction">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>
<!-- Register Form -->
    <form class="signup row login-register-form custom-crispy" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="button button-main form-button" type="submit">{% trans "Register" %}</button>
    </form>
  </div>
{% endblock %}
