{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Please Verify Your Email Address" %}{% endblock %}

{% block content %}
<div class="container form-container more-space">
    <h1 class="small-heading">{% trans "Please Verify Your Email Address" %}</h1>

    <p class="small-instruction">{% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the registration process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
{% endblock %}
