/* Colours */
$main-colour: #148EFF;
$accent-colour: #C3FF17;
$white: #FFF;

/* Font Styles */ 
$heading-font: "Quicksand";
$main-text-font: "Open Sans";

/* Breakpoints */
$breakpoint-large-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-small-desktop: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-large-desktop: 1400px;

/* 
Button Styles
(Original code inspo from Olga's Buttons here: https://codepen.io/OlgaFil/pen/JxjbOb) 
*/
@mixin button-bg($bg) {
    background: $bg;
    &:hover {
        background:darken($bg,11%);
        transition: all 0.3s ease;
    }
    &:active {
        background:darken($bg,14%);
    } 
}

.button {
    padding:5px 10px;
    border-radius: 3px;
    font-family: $main-text-font, sans-serif;
    font-size: 1.1rem;
}

.button-accent {
    @include button-bg($accent-colour);
}

.button-blue {
    @include button-bg(#3498db);
}

.button-yellow{
    @include button-bg(#f1c40f);
}

.button-red {
    @include button-bg(#e74c3c);
}
