/* Colours */
$main-colour: #148EFF;
$accent-colour: #C3FF17;
$white: #FFF;



/* Font Styles */ 
$heading-font: "Quicksand";
$main-text-font: "Open Sans";


/* Breakpoints */
$breakpoint-large-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-small-desktop: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-large-desktop: 1400px;


