@import './scss/bootstrap';
@import "_customVariables";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

/* Homepage Nav & Header */
body {
    nav{
        font-family: $main-text-font;
        .container-fluid{
            a.navbar-brand{
                color: $accent-colour;
                margin-left: 1rem;
            }
            ul.navbar-nav{
                margin-left: 1rem;
                li{
                    ul.dropdown-menu{
                        background-color: $main-colour;
                        li{
                            a{
                                color: $white !important;
                                letter-spacing: 1px;
                                &:hover{
                                    background-color: $white;
                                    color: $main-colour !important;
                                }
                            }
                            
                        }
                    }
                    a {
                        color: $white !important;
                        letter-spacing: 1px;
                    }
                    
                }
            }
            ul.nav-register-login-container{
                margin-left: 1rem;
                margin-right: 0 !important;
                .button-accent > a{
                    color: $main-colour !important;                     
                }
            }
        }
    }
    .container-fluid{
        padding: 0;
        .homepage-header {
            height: 500px;
            background-color: $main-colour;
            justify-content: center;
            align-items: center;
            h1.homepage-heading{
                font-family: $heading-font, sans-serif;
                font-size: 5rem;
                font-weight: 300;
                color: white;
                margin: 2rem;
            }
            h2.homepage-subheading{
                font-family: $main-text-font;
                color: $white;
                font-weight: 300;
                margin: 2rem;
                span.accent-underline{
                    border-bottom: $accent-colour 5px solid;
                }
            }
        }
    }
}

@media (min-width: $breakpoint-large-mobile) {

}

@media (min-width: $breakpoint-tablet) {

}

@media (min-width: $breakpoint-small-desktop) {
    body {
        nav{
            font-family: $main-text-font;
            .container-fluid{
                margin-left: 2rem;
                a.navbar-brand{
                }
                ul.navbar-nav{
                    margin-left: 2rem;
                    }
                }
                ul.nav-register-login-container{
                    margin-left: auto !important;
                }
            }
        .container-fluid{
            .homepage-header {
                height: 500px;
                h1.homepage-heading{
                    font-size: 11rem;
                }
            }
        }
    }
}

@media (min-width: $breakpoint-desktop) {
   
}

@media (min-width: $breakpoint-large-desktop) {
  
}

