{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <header class="details-page-header d-flex flex-column">
        <div class="container web-design-container">
            <h1 class="details-page-heading mt-4 mb-4">Forbidden! 403 Error!</h1>
            <img class="details-page-intro-image img-fluid" src="{{ MEDIA_URL }}403.jpg" alt="homemade sign that says keep out">
            <h2 class="details-page-subheading mt-5 mb-5">Sorry, but you're not allowed to do that! You lack the necessary permissions.
                You may be trying to access admin pages or alter pages that do not belong to you.</h2>
            <a href="{% url 'home' %}" class="button button-accent back-button-error"><i class="fas fa-long-arrow-alt-left"></i> Back to Safety!</a>
        </div>
    </header>
    <section>
        <div class="container web-design-container">
        </div>
    </section>
</div>
{% endblock %}