{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <header class="details-page-header d-flex flex-column">
        <div class="container web-design-container">
            <h1 class="details-page-heading mt-4 mb-4">Ooops! 500 Error.</h1>
            <img class="details-page-intro-image img-fluid" src="{{ MEDIA_URL }}500b.jpg" alt="server wires in a mess">
            <h2 class="details-page-subheading mt-5 mb-5">Apologies but there was an internal server error. This is <span class="accent-underline">our</span> issue, not yours. Please try again. </h2>
            <a href="{% url 'home' %}" class="button button-accent back-button-error"><i class="fas fa-long-arrow-alt-left"></i> Back to Safety!</a>
        </div>
    </header>
    <section>
        <div class="container web-design-container">
        </div>
    </section>
</div>
{% endblock %}