/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
/*-------------------------- Colours */
    --main-colour: #10AAF7;
    --lighter-main: #91E3FD;
    --accent-colour: #F3C311;
    --accent-lighter: #FDE691;
    --cancel-colour: #B33D3D;
    --lighter-cancel: #EE4D4D;
    --white: #FFF;
    --dark-text: #333;
    --muted-text: #736F73;
/*-------------------------- Font Styles */
    --heading-font: "Quicksand", sans-serif;
    --main-text-font: "Open Sans", sans-serif;
/*-------------------------- Breakpoints */
    --breakpoint-large-mobile: 576px;
    --breakpoint-tablet: 768px;
    --breakpoint-small-desktop: 992px;
    --breakpoint-desktop: 1200px;
    --breakpoint-large-desktop: 1400px;
}
/*-------------------------- Stripe Styles */
.StripeElement,
.stripe-style-input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: white;
    -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
            box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    -webkit-transition: -webkit-box-shadow 150ms ease;
    transition: -webkit-box-shadow 150ms ease;
    -o-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}
.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
            box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
.stripe-style-input::-webkit-input-placeholder {
    color: #aab7c4;
}
.stripe-style-input::-moz-placeholder {
    color: #aab7c4;
}
.stripe-style-input:-ms-input-placeholder {
    color: #aab7c4;
}
.stripe-style-input::-ms-input-placeholder {
    color: #aab7c4;
}
.stripe-style-input::placeholder {
    color: #aab7c4;
}
.fieldset-label {
    position: relative;
    right: .5rem;
}
#payment-form .form-control,
#card-element {
    color: #000;
}
fieldset.checkout-border{
    border: var(--main-colour) 2px solid;
    border-radius: 12px;
    padding: 1rem;
}
select, 
select option {
    color: #000;
}
select:invalid, 
select option[value=""]{
    color: #aab7c4 !important;
}
/*-------------------------- Loading Overlay */
#loading-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-colour);
    z-index: 9999;
}
.loading-spinner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    height: 100%;
}