{% if request.user.is_authenticated %}
    <div class="side-nav-container d-none d-lg-block">
        <hr class="white-hr">
        <p class="side-nav-heading">User Portal</p>
        <ul class="nav side-nav">
            <li class="nav-item side-nav-item hvr-underline-from-left">
                <a class="nav-link" aria-current="page" href="{% url 'profile' %}">Your Profile</a>
            </li>
            <li class="nav-item side-nav-item hvr-underline-from-left">
                <a class="nav-link" aria-current="page" href="{% url 'view_shopping_bag' %}">Your Shopping Bag</a>
            </li>
            <li class="nav-item side-nav-item hvr-underline-from-left">
                <a class="nav-link" aria-current="page" href="{% url 'user_orders' %}">Your Orders</a>
            </li>
            <li class="nav-item side-nav-item hvr-underline-from-left">
                <a class="nav-link" aria-current="page" href="{% url 'reviews' %}">Your Reviews</a>
            </li>
        </ul>
        <hr class="white-hr">
        <p class="side-nav-heading">Shop</p>
        <ul class="nav side-nav">
            <li class="nav-item side-nav-item hvr-underline-from-left">
                <a href="{% url 'products' %}" class="nav-link">Shop All Products</a>
            </li>
            <li class="nav-item side-nav-item hvr-underline-from-left">
                <a class="nav-link" aria-current="page" href="{% url 'web-design-products' %}">Shop Web Design</a>
            </li>
            <li class="nav-item side-nav-item hvr-underline-from-left">
                <a class="nav-link " href="{% url 'seo-products' %}">Shop SEO</a>
            </li>
            <li class="nav-item side-nav-item hvr-underline-from-left">
                <a class="nav-link" href="{% url 'social_media_management' %}">Shop Social Media Management</a>
            </li>
            <li class="nav-item side-nav-item hvr-underline-from-left">
                <a class="nav-link" href="{% url 'content-creation-products' %}">Shop Content Creation</a>
            </li>
        </ul>
        <hr class="white-hr">
        {% if request.user.is_superuser %}
            <p class="side-nav-heading">Admin Dashboard</p>
            <ul class="nav side-nav">
                <li class="nav-item side-nav-item hvr-underline-from-left">
                    <a class="nav-link" aria-current="page" href="{% url 'admin-dash-products' %}">Products</a>
                </li>
                <li class="nav-item side-nav-item hvr-underline-from-left">
                    <a class="nav-link" aria-current="page" href="{% url 'admin-dash-users' %}">Users</a>
                </li>
            </ul>
            <hr class="white-hr">
        {% endif %}
    </div>
{% endif %}