{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex-container product-details-flex-container">
    {% include 'includes/side-nav.html' %}
    <div class="overlay"></div>
    <div class="container">
<!-- Add New Product Page Heading -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 mt-3">
                {% include 'includes/skip-to-main.html' %}
                <h2 id="main" class="logo-font mb-4 details-page-heading">Add a New Product</h2>
            </div>
        </div>
<!-- Add New Product Form -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row row mb-2">
                        <div class="form-group col-12 mb-0">
                            {{ form.category | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                        <div class="form-group col-md-6">
                            {{ form.name | as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.friendly_name | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                        <div class="form-group col-12 mb-0">
                            {{ form.description | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                        <div class="form-group col-12 mb-0">
                            {{ form.features | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                        <div class="form-group col-12 mb-0">
                            {{ form.price | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="form-group col-md-3">
                            {{ form.image }}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-5">
                        <a class="button button-cancel me-1" href="{% url 'admin-dash-products' %}">Cancel</a>
                        <button class="button button-main ms-1" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}