{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex-container product-details-flex-container">
    {% include 'includes/side-nav.html' %}
    <div class="container-fluid col-12 col-md-10 col-lg-8 ps-5 pe-5">
<!-- Content Creation Product Listing Header -->
        <header class="details-page-header d-flex flex-column">
            <div class="container">
                {% include 'includes/skip-to-main.html' %}
                <h1 id="main" class="details-page-heading">Content Creation Products</h1>
                <h2 class="details-page-subheading"> Quality content is what divides a mediocre digital marketing strategy from a great one!
                Customers are getting increasingly content savvy, and they are demanding high quality content to sustain their interest in brands.
                Get ahead of the game with some of our fantastic content creation services below.</h2>
            </div>
        </header>
<!-- Content Creation Products Listing -->
        {% include 'includes/product-cards.html' %}
    </div>
</div>
{% endblock %}