{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mt-5 p-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <h2 class="admin-page-heading mb-4">{{product.category|title}} Product Management</h2>
                <h5 class="text-muted">Edit "{{product.friendly_name|title}}"</h5>
                <hr>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row row mb-2">
                        <div class="form-group col-12 mb-0">
                            {{ form.category | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                        <div class="form-group col-md-6">
                            {{ form.name | as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.friendly_name | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                        <div class="form-group col-12 mb-0">
                            {{ form.description | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                        <div class="form-group col-12 mb-0">
                            {{ form.features | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row mb-2">
                        <div class="form-group col-12 mb-0">
                            {{ form.price | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="form-group col-md-3">
                            {{ form.image }}
                        </div>
                        <div class="form-group col-md-9 mb-3">
                            {{ form.image_url | as_crispy_field }}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mb-5">
                        <a class="button button-cancel me-1" href="{% url 'products' %}">Cancel</a>
                        <button class="button button-main ms-1" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}