{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex-container product-details-flex-container">
    {% include 'includes/side-nav.html' %}
    <div class="container-fluid col-12 col-md-8">
<!-- All Products Header -->
        <header class="details-page-header d-flex flex-column">
            <div class="container">
                {% include 'includes/skip-to-main.html' %}
                <h1 id="main" class="details-page-heading">All Products</h1>
                <h2 class="details-page-subheading mb-4">Here are all our digital products and services. If you'd like to search by 
                    keyword, please use the search bar below, otherwise use the sidebar to navigate by category.
                </h2>
            </div>
        </header>
<!-- Products Search Bar -->
        <section class="container-fluid col-12 col-md-8">
            <div class="details-page-header d-flex flex-column">
                <div class="container">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group 1-100">
                            <input class="form-control" type="text" name="q" placeholder="Search for Product" value="{% if search_term %}{{search_term}}{% else %}{% endif %}">
                            <div class="input-group-append">
                                <button aria-label="search button" class="button button-accent" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                                <a aria-label="reset button" class="button button-accent xtra-pad" href="{% url 'products'%}">
                                    <span class="icon">
                                        <i class="fas fa-undo-alt extra-pad-i"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
<!-- Product Listing -->
        {% include 'includes/product-cards.html' %}   
    </div>
</div>
{% endblock %}