{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container product-details-flex-container">

    {% include 'includes/side-nav.html' %}

    <div class="container-fluid col-12 col-md-8">
        <header class="details-page-header d-flex flex-column">
            <div class="container">
                <h1 class="details-page-heading">All Products</h1>
                <h2 class="details-page-subheading"> Here are all our digital products and services.</h2>
            </div>
        </header>

        {% include 'includes/product-cards.html' %}
        
    </div>

</div>
{% endblock %}