{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="flex-container product-details-flex-container">

    {% include 'includes/side-nav.html' %}

<div class="row flex-grow-1">

<div class="col col-12">
    <div class="backlink">
        <a class="button button-back" href="{{ referring_page }}">
            <i class="fas fa-arrow-left"></i> 
            Back to all {{ product.category.friendly_name }} products
        </a>
    </div>

    <section class="d-flex flex-column">
        <div class="d-flex details-page-info">
            <h1 class="details-page-heading pb-0">{{product.friendly_name}}</h1>
            {% if request.user.is_superuser %}
                <small class="ml-3 edit-del-product-details-btns">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
            {% endif %}
            {% if product.image %}
                <a class="align-self-center" href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid product-image product-details-page-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
            {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}No-image-available.png" alt="{{ product.name }}">
                </a>
            {% endif %}
            <div class="d-flex flex-column product-details-text-container">
                <p class="details-page-text"> {{product.description}}</p>

                {% if features %}
                    <h3 class="details-page-features-heading">Features include:</h3>
                    <ul class="details-page-text">
                        {% for feature in features %}
                            <li>{{ feature|title }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <p class="details-page-text text-align-center product-details-price-subtotal"> €{{product.price}} + €{{vat|floatformat:2}} VAT @23%</p>
                <p class="details-page-text text-align-center product-details-price"> TOTAL: €{{total_incl_vat|floatformat:2}}</p>
            </div>
        </div>
    </section>

    <div class="row">
        <!-- <div class="form-container-product-details"> -->
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <!-- <div class="form-row"> -->
                    <div class="col-5 offset-3 col-md-2 offset-md-5">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group">
                            <div class="input-group">
                                <button class="decrement-qty button button-accent "
                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span class="icon"><i class="fas fa-minus"></i></span>
                                </button>

                                <input class="qty_input form-control form-control-sm" type="number" name="quantity" 
                                value="1" min="1" max="20" data-item_id="{{ product.id }}" 
                                id="id_qty_{{ product.id }}">

                                <button class="increment-qty button button-accent"
                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span class="icon"><i class="fas fa-plus"></i></span>
                                </button>
                            </div>

                        
                        <div class="input-group mt-4 justify-content-center">
                            <input type="submit" class="button button-accent special-input-group-button" value="Add to Bag">
                            <input type="hidden" name="redirect_url" value="{% url 'view_shopping_bag' %}">
                        </div>
                    </div>
                    </div>
                <!-- </div> -->
            </form>
        <!-- </div> -->
    </div>
<!-- Review Section -->
    <div class="row d-flex flex-column">
        <div class="accordion" id="reviewAccordion">

            <!-- Only show this option to users who are logged in and who: 1. have purchased this -->
                {% if user_purchased_product_and_can_review %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ADD A REVIEW
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#reviewAccordion">
                        <div class="accordion-body">
                            <form class="review-form" method="POST" action="{% url 'product_detail' product.id %}">
                                {% csrf_token %}
                                <h2>Review of {{product.friendly_name}} by {{request.user}}</h2>
                                <div class="row">
                                    <div class="col mt-3 mb-2">
                                        {{ form.review_title | as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mt-3 mb-2">
                                        {{ form.review_stars | as_crispy_field }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mt-3 mb-2">
                                        {{ form.review | as_crispy_field }}
                                    </div>
                                </div> 
                                    <input class="button button-accent" type="submit" value="Submit">
                            </form>
                        </div>
                        </div>
                    </div>
                {% endif %}
            
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                SEE REVIEWS
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#reviewAccordion">
                <div class="accordion-body">
                    {% for review in reviews %}
                        <small>{{review.date_reviewed}}</small>
                        {% if review.review_stars == 'option1' %}
                            <p><i class="fas fa-star"></i></p>
                        {% elif review.review_stars == 'option2' %}
                            <p><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        {% elif review.review_stars == 'option3' %}
                            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        {% elif review.review_stars == 'option4' %}
                            <p><i class="fas fa-star "></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        {% elif review.review_stars == 'option5' %}
                            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
                        {% endif %}
                        <h3>{{review.review_title}}</h3>
                        <p>{{review.review}}</p>
                        <p>Reviewed by: {{review.user}}</p>
                    {% endfor %}
                </div>
                </div>
            </div>
        
    </div>

    </div> 
    </div>
    

</div>


<!-- Flex Container End -->
</div> 



{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}