{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container product-details-flex-container">

    {% include 'includes/side-nav.html' %}

    <div class="container-fluid col-12 col-md-10 col-lg-8 ps-5 pe-5">
        <header class="details-page-header d-flex flex-column">
            <div class="container">
                <h1 class="details-page-heading">SEO Products</h1>
                <h2 class="details-page-subheading"> Search Engine Optimization is so important, because you can have the most beautiful, 
                    innovative and interesting website in the world, but if search engines are not ranking it, you are potentially missing out on
                    a huge amount of business. At Lionize, we are SEO experts and we offer a variety of products to ensure that prospective clients find your business
                    online.
                </h2>
            </div>
        </header>

        {% include 'includes/product-cards.html' %}
    </div>

</div>
{% endblock %}