

<ul class="nav flex-column side-nav col-4">
    <li class="nav-item">
        <p class="nav-link">Hello username!</p>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'view_shopping_bag' %}">View Shopping Bag</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'web-design-products' %}">Web Design</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'seo-products' %}">SEO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Social Media Management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'content-creation-products' %}">Content Creation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
    </li>
</ul>