{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="flex-container product-details-flex-container">

    {% include 'includes/side-nav.html' %}

    <div class="container-fluid col-12 col-md-10 col-lg-8 ps-5 pe-5">
        <header class="details-page-header d-flex flex-column">
            <div class="container">
                <h1 class="details-page-heading">Social Media Management Products</h1>
                <h2 class="details-page-subheading">Growing and improving your social presence is one of the fastest ways to build your business and find new clients.
                    A strong social media presence is also a pre-requesite to potential customers taking your business seriously. Direct connections of the type 
                    afforded by a strong social media presence, also fosters strong brand loyalty.
                </h2>
            </div>
        </header>

        {% include 'includes/product-cards.html' %}
    
    </div>

</div>
{% endblock %}