{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex-container product-details-flex-container">
    {% include 'includes/side-nav.html' %}
    <div class="container-fluid col-12 col-md-10 col-lg-8 ps-3 pe-3">
        <header class="details-page-header d-flex flex-column">
            <div class="container">
                {% include 'includes/skip-to-main.html' %}
                <h1 id="main" class="details-page-heading">Web Design Products</h1>
                <h2 class="details-page-subheading"> An excellent online presence starts with a professional, fully-functional, well-designed website. 
                    It may be the first impression prospective clients have of your business, and it is essential that you get it right.
                    Client confidence and trust is massively impacted by the quality of your online presence.
                    Put your best foot forward, and trust Lionize to design the perfect website for your brand.
                </h2>
            </div>
        </header>
        {% include 'includes/product-cards.html' %}
    </div>
</div>
{% endblock %}