{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">

    {% include 'products/side-nav.html' %}
    

<div class="container-fluid col-12 col-md-8">
    <header class="details-page-header d-flex flex-column">
        <div class="container">
            <h1 class="details-page-heading">Web Design Products</h1>
            <h2 class="details-page-subheading"> <span class="accent-underline">Here are all our Web Design products, excluding subscription services.</span> </h2>

            <div class="col">
                {{ products }}
            </div>
        </div>
    </header>
    
        
</div>

</div>



{% endblock %}