{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">

    {% include 'products/side-nav.html' %}
    

<div class="container-fluid col-12 col-md-8">
    <header class="details-page-header d-flex flex-column">
        <div class="container">
            <h1 class="details-page-heading">Web Design Products</h1>
            <h2 class="details-page-subheading"> <span class="accent-underline">Here are all our Web Design products, excluding subscription services.</span> </h2>
        </div>
    </header>

    <div class="row">
        {% for product in products %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.friendly_name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p>€{{ product.price }}</p>
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    
        
</div>

</div>



{% endblock %}